<% provide :title, t("word.all") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h3>
      <%= t "import_using_fileType_file", fileType: Settings.fileType_to_import_words %>
    </h3>
    <%= form_tag admin_uploads_path, method: :post, multipart: true do %>
      <p>
        <%= file_field_tag :file, class: "filestyle", required: true %>
      </p>
      <p>
        <%= submit_tag t("import.submit"), class: "btn btn-success" %>
      </p>
    <% end %>
  </div>
  <div class="col-md-8">
    <table id="word_list_table" class="table table-hover table-bordered text-center">
      <tbody class="tbody">
        <tr>
          <th class="text-center success"><%= t "categories.name" %></th>
          <th class="text-center success"><%= t "word.wordall" %></th>
          <th class="text-center success"><%= t "mean.meaning" %></th>
          <th class="text-center success"><%= t "action" %></th>
        </tr>
        <%= render @words %>
      </tbody>
    </table>
    <%= will_paginate @words %>
  </div>
  <div class="col-md-4">
    <div>
      <%= form_for [:admin, @word], class: "form" do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control", placeholder: t("word.enter_new_word") %>
        </div>
        <div class="form-group">
          <%= f.label :category_id %>
          <%= f.select :category_id, options_for_select(@categories.map{|c| [c.name, c.id ]},
            selected_key = f.object.category_id), {}, class: "form-control" %>
        </div>
        <div class="form-group">
          <div id="answer_list">
            <%= f.fields_for :answers, wrapper: true, class: "form" do |answer_form| %>
              <%= render "answer_fields", f: answer_form %>
            <% end %>
          </div>
          <%= link_to_add_fields t("word.add"), f, :answers %>
        </div>
        <br>
        <%= f.submit t("word.saveword"), class: "btn btn-primary pull-right" %>
      <% end %>
    </div>
  </div>
</div>
