<% provide :title, t("UserSetting", name: @user.name) %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>
      <%= f.label :password %>
      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>
      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: "form-control" %>
      <br>
      <% unless current_user.avatar.blank? %>
        <%= link_to image_tag(current_user.avatar), current_user %>
      <% else %>
        <%= link_to image_tag("avatar_default.jpg"), current_user %>
      <% end %>
      <span class="picture">
        <%= f.file_field :avatar, accept: "image/jpeg,image/gif,image/png" %>
      </span>
      <br>
      <%= f.submit t("Update"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
