<% provide :title, t("user.all_users") %>

<h1><%= t "user.all_users" %>
  <span class = "label label-danger">
    <%= pluralize @users.count, t("user.users") %>
  </span>
</h1>

<div class="col-sm-3 col-md-12">
  <%= will_paginate %>
  <ul class="list-group">
    <% @users.each do |user| %>
      <li class="list-group-item list-group-item-info">
        <b><%= link_to user.name, user_path(user) %></b></br>
        <%= t "add" %> <%= time_ago_in_words user.created_at %> <%= t "ago" %>
        <%= link_to t("details"), user_path(user), class: "btn btn-xs btn-info" %>
      </li>
    <% end %>
  </ul>
  <%= will_paginate %>
</div>
