<%= form_for words_path, method: :get, remote: true do |f| %>
  <div class="row">
    <div class="col-md-6 col-md-offset-2">
      <%= select_tag "category_id", options_from_collection_for_select(@categories, "id", "name",
        params[:category_id]), include_blank: t("word.all"), class: "form-control" %>
      <% Settings.filter.each do |key,value| %>
        <%= label_tag value, class: "radio-inline" do %>
          <%= radio_button_tag :filter_state, value,
            checked = (params[:filter_state] == value || params[:filter_state].blank?) %>
          <%= key %>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= button_tag type: "submit", class: "btn btn-success" do %>
        <i class="glyphicon glyphicon-search"></i><%= t "word.search" %>
      <% end %>
      <% if current_user.teacher? %>
        <strong id="download">
          <%= render "shared/download" %>
        </strong>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
