<div class="result">
  <hr>
  <div class="col-md-5">
    <h1><%= w.name %></h1>
  </div>
  <div class="col-md-5">
    <%= f.hidden_field :word_id, value: w.id %>
    <%= w.answers.each do |answer| %>
      <div class="row">
        <div class="col-md-2">
          <%= f.radio_button :answer_id, answer.id %>
        </div>
        <div class="col-md-3"><%= answer.content %></div>
      </div>
    <% end %>
  </div>
</div>
