<% provide :title, "Lesson-#{@lesson.category.name}" %>
<h1><%= @lesson.name %></h1>
<div id="lesson_stats" data-num-words="<%= @lesson.words.count %>">
  <div id="lesson-<%= @lesson.id %>">
    <span class="user"><%= link_to @lesson.user.name, @lesson.user %></span>
    <h3><%= "#{t("lesson.mark")} #{@mark}" %></h3>
    <p/>
    <span class="content">
      <%= t "lesson.noti" %> <%= pluralize(@lesson.words.count, "word") %>
      <%= t "lesson.incate" %> "<%= @lesson.category.name %>"
    </span>
    <p/>
  </div>
</div>

<div class="container">
  <div class="row" id="lesson">
    <%= form_for @lesson do |f| %>
      <%= f.fields_for :results do |builder| %>
        <div class="col-md-10">
          <%= @words.each do |word| %>
            <%= render "word", f: builder, w: word %>
          <% end %>
        </div>
      <% end %>

      <div class="col-md-4 col-md-offset-4">
        <br>
        <%= f.submit t("lesson.submit"), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
