<tr id="category-<%= category.id %>">
  <td><%= category.name %></td>
  <td><%= category.description.truncate 100 %></td>
  <td><%= category.words.length %></td>
  <td>
    <%= link_to "", admin_category_path(category), method: :delete, remote: true,
      data: {confirm: t("flash.confirm")}, class: "glyphicon glyphicon-remove" %>
    <%= link_to "", edit_admin_category_path(category),
      class: "glyphicon glyphicon-edit" %>
  </td>
</tr>
