<% provide :title, t("categories.category") %>

<div class="row">
  <h1><%= t "categories.category" %></h1>
  <div class="col-md-8">
    <table id="category_list_table" class="table table-hover table-bordered">
      <tbody>
        <tr>
          <th><%= t "categories.name" %></th>
          <th><%= t "categories.descriptions" %></th>
          <th><%= t "categories.numberword" %></th>
          <th><%= t "action" %></th>
        </tr>
        <%= render @categories %>
      </tbody>
    </table>
    <%= will_paginate @categories %>
  </div>
  <div class="col-md-4">
    <div>
      <%= form_for [:admin, @category], remote: true, class: "form form-inline" do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :description %>
          <%= f.text_area :description, class: "form-control" %>
        </div>
        <%= f.submit t("categories.create"), class: "btn btn-primary pull-right" %>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>
