<% provide :title, t("categories.CategoryNew") %>

<%= form_for [:admin, @category] do |category| %>
  <div class="col-md-8 col-md-offset-2">
    <h1><%= t "categories.CategoryNew" %></h1>
    <%= render "shared/error_messages", object: category.object %>
    <%= category.text_field :name, class: "form-control", placeholder: t("categories.CategoryName") %>
    <%= category.text_area :description, rows: 10, class: "form-control", placeholder: t("categories.CategoryDes") %>
    <%= category.submit t("categories.CategoryCreate"), class: "btn btn-primary" %>
  </div>
<% end %>

<div class="clear"></div>
