<li class="list-group-item list-group-item-info">
  <b><%= link_to user.name, admin_user_path(user) %></b></br>
  <%= t "add" %> <%= time_ago_in_words user.created_at %> <%= t "ago" %>
  <%= link_to t("details"), admin_user_path(user), class: "btn btn-xs btn-info" %> |
  <%= link_to t("delete"), admin_user_path(user), class: "btn btn-xs btn-warning",
    method: :delete, data: {confirm: t("flash.confirm")} %>
</li>
