<% provide :title, t("user.title.new") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1><%= t "user.title.new" %></h1>
    <div class="row">
      <%= form_for [:admin, @user] do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.text_field :name, class: "form-control", placeholder: t("user.username") %>
        <%= f.email_field :email, class: "form-control", placeholder: t("user.useremail") %>
        <%= f.password_field :password, class: "form-control", placeholder: t("user.userpassword") %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: t("user.userpassword") %>
        <%= f.submit t("user.useracc"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>

<div class="clear"></div>
