<footer class = "footer">
  <small>
    <a href=""><%= t("FELS") %></a>
    - <a href=""><%= t("trainteam") %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), "#" %></li>
      <li><a href=""><%= t("news") %></a></li>
    </ul>
  </nav>
</footer>
