<footer class = "footer">
  <small>
    <a href=""><%= t "static_page.fels" %></a>
    - <a href=""><%= t "static_page.trainteam" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("static_page.about"), about_path %></li>
      <li><%= link_to t("static_page.contact"), "#" %></li>
      <li><a href=""><%= t "static_page.news" %></a></li>
    </ul>
  </nav>
</footer>
